
{% extends 'playbooks/base.html' %}

{% block content %}

  {% include "playbooks/_modal.html" %}

<button id="add_book" class="btn btn-primary" type="button" name="button">add</button>

<button id="add_book1" class="btn btn-primary" type="button" name="button">add</button>

<table>
    rwe
                {% for object in object_list%}
                    <tr>
                        <td width="3%"><div class="custom-control custom-checkbox" style="transform: translateX(15%)"><input class="custom-control-input" type="checkbox" id="{{object.id}}" ><label for="{{object.id}}" class="custom-control-label" style="cursor: pointer"></label></div></td>

                        <td>{{object.name}}</td>
                        <td>{{object.create_at}}</td>
                        <td>{{object.description}}</td>
                    </tr>
                    {% endfor %}
</table>

 {% endblock content %}

{% block extrascripts %}

 <script type="text/javascript">

      $(function () {

          // Create book synchronous
          function createBookSyncModalForm() {
            $("#add_book").modalForm({

                formURL: "{% url 'playbooks:playbook_add' %}",
                modalID: "#create-modal"
            });
          }
          createBookSyncModalForm();
        })
 </script>
{% endblock extrascripts %}

