* {
    margin: 0;
    padding: 0;
}


.header {
    width: 1500px;
    margin: 0 auto;
}

p {
    text-align: center;
    font-size: 25px;
}

.content {
    padding-top: 50px;
    margin: 0 auto;
    width: 1800px;
}

.log {
    position: absolute;
    right: 200px;
}

.logname {
    position: absolute;
    right: 50px;
    padding-top: 8px;
}


.right-log {
    position: relative;
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
.form-group{

    /* margin-top: 10px; */
    width: 300px;
    margin: 0 auto;
    margin-bottom: 10px;

}
.errorlist{
    list-style-type: none;
}


.link{
    text-decoration: none;
    color: black;
}

.form-control {
    list-style-type: none;
    margin-top: 10px;
    width: 300px;
    margin: 0 auto;


}

.btnSubmit {
     margin-left: 25%;
}

.form-admin{

    padding: 1%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
}
.bottom-admin {
    margin-bottom: 50px;

}

.content-user {
    text-align: center;
}